<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Welcome</h2> </br>
        <p>Thank you for stopping by, this is where you can find well-crafted recipes for the home cook. Happy cooking! ~Seyi</p>
      </div>
    </div>
    <div class="row">
      <form>
        <div>
          <input type="text" placeholder="Recipe Name" ng-model="formData.name">
          <input type="text" placeholder="Preparation Time" ng-model="formData.prepTime">
          <input type="text" placeholder="Total cook time" ng-model="formData.cookTime">
          <input type="text" placeholder="Ingredients" ng-model="formData.ingredients">
          <input type="text" placeholder="Method of preparation" ng-model="formData.method">
          <input type="text" placeholder="Image Link" ng-model="formData.imageLink">
        </div>
        <button type="submit" ng-click="createRecipe()">Add Recipe</button>
      </form>
      <ul ng-repeat="(key, value) in recipe">
        <li>{[{key}]}: {[{value}]}</li>
      </ul>
      <p>by: {[{recipe.user.username}]}</p>
    </div>
  </div>
  </div>
  </div>

   <button type="submit" ng-click="viewRecipe()">View Your Recipes</button>
</section>
