<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{[{recipes.name}]}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
          </div>
        </div>
        <img ng-src="{[{recipes.imageLink}]}" class="img-responsive" alt="">
        <p class="text-muted">Preparation Time:{[{recipes.prepTime}]}</p>
        </br>
        <p class="text-muted">Cooking Time:{[{recipes.cookTime}]}</p>
        </br>
        <p class="text-muted">Ingredients</p>
        <p class="text-muted" ng-repeat="item in recipes.ingredients">{[{item}]}</p>
        </br>
        <p class="text-muted">Method</p>
        <ol><li ng-repeat="method in recipes.method" class="text-muted">{[{method}]}</li></ol>
      </div>
    </div>
  </div>
  </div>
</section>
